<html>
  <title>odakGIS - Log List</title>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="loglist">Log Listesi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tasinmazlist">Taşınmaz Listesi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="userlist">Kullanıcı Listesi</a>
        </li>

        <li class="d-flex">
          <button type="button" class="btn btn-danger" (click)="logout()">
            Çıkış Yap
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <!-- navi -->

  <body>
    <div class="mb-3">
      <br />
      <input
        type="text"
        [(ngModel)]="filterTextLog"
        class="form-control"
        id="filterTextTasinmaz"
        placeholder="Arama ifadesi giriniz."
      />
    </div>

    <div class="card">
      <div class="card-body">
        <table class="table" data-toggle="table" data-click-to-select="true">
          <!--*ngIf="dataLoaded!=false" -->
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="logID">Log ID</th>
              <th data-field="logStatus">Status</th>
              <th data-field="logType">Type</th>
              <th data-field="logDate">Log Date</th>
              <th data-field="logExp">Log Exp</th>
              <th data-field="uID">User ID</th>
              <th data-field="uIP">User IP</th>
              <th data-field="download">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="logDownload()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-download"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                    />
                    <path
                      d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                    />
                  </svg>
                </button>
              </th>
            </tr>
          </thead>
          <tr
            *ngFor="
              let log of logs
                | filter: filterTextLog
                | paginate: { itemsPerPage: 10, currentPage: p }
            "
          >
            <td></td>
            <td>{{ log.logID }}</td>
            <td>{{ log.logStatus }}</td>
            <td>{{ log.logType }}</td>
            <td>{{ log.logDate }}</td>
            <td>{{ log.logExp }}</td>
            <td>{{ log.uID }}</td>
            <td>{{ log.uIP }}</td>
            <td>
              <button
                class="btn btn-light"
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                [cancelText]="cancelText"
                [confirmText]="confirmText"
                (confirm)="deleteLog(log.logID)"
                (cancel)="cancelClicked = true"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20 "
                  height="20"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col order-12">
          <pagination-controls
            (pageChange)="p = $event"
            previousLabel="Previous"
            nextLabel="Next"
            autoHide="true"
          ></pagination-controls>
        </div>
        <div class="col order-1"></div>
      </div>
    </div>
  </body>
</html>
