<html>
  <title>odakGIS - Tasinmaz Add</title>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="tasinmazadd">Yeni Taşınmaz Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log İşlemleri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tasinmazlist">Taşınmaz Listesi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="userlist">Kullanıcı Listesi</a>
        </li>
        <li class="d-flex">
          <button type="button" class="btn btn-danger" (click)="logout()">
            Çıkış Yap
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <!-- navi -->

  <div class="content">
    <div class="col-md-1">
      <div class="card">
        <div class="card-header"><h5 class="title">Taşınmaz Ekle</h5></div>
        <div class="card-body">
          <form [formGroup]="tasinmazAddForm">
              <div class="mb-3">
                <label class="input-group-text" for="inputGroupSelect01">İl</label>
                <div class="form-group">
                <input
                  type="text"
                  id="provinceID"
                  formControlName="provinceID"
                  class="form-control"
                  placeholder="İl"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="input-group-text" for="inputGroupSelect01">İlçe</label>
              <div class="form-group">
                <input
                  type="text"
                  id="countryID"
                  formControlName="countryID"
                  class="form-control"
                  placeholder="İlçe"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Mahalle</label>
              <div class="form-group">
                <input
                  type="text"
                  id="nbID"
                  formControlName="nbID"
                  class="form-control"
                  placeholder="Mahalle"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Ada</label>
              <div class="form-group">
                <input
                  type="text"
                  id="ada"
                  formControlName="ada"
                  class="form-control"
                  placeholder="Ada"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Parsel</label>
              <div class="form-group">
                <input
                  type="text"
                  id="parsel"
                  formControlName="parsel"
                  class="form-control"
                  placeholder="Parsel"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Nitelik</label>
              <div class="form-group">
                <input
                  type="text"
                  id="nitelik"
                  formControlName="nitelik"
                  class="form-control"
                  placeholder="Nitelik"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Koordinat X</label>
              <div class="form-group">
                <input
                  type="text"
                  id="koordinatX"
                  formControlName="koordinatX"
                  class="form-control"
                  placeholder="koordinatX"
                />
              </div>
            </div>
            <div class="mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Koordinat Y</label>
              <div class="form-group">
                <input
                  type="text"
                  id="koordinatY"
                  formControlName="koordinatY"
                  class="form-control"
                  placeholder="koordinatY"
                />
              </div>
            </div> 
          </form>
        </div>
        <div>
          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="add()">
              Ekle
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
