.btn-danger {
  margin-left: 760px;
}
.table{
  width: 97%;
  margin-left: 25px;
}
.nav-link {
  margin-left: 200px;
}
.btn-primary{
  margin-left:1400px;
  width: 300px;
  height: 56px;
  margin-top: 40px;
  
}
html,
body {
  background-image: url("https://cdn.discordapp.com/attachments/816181426034180096/899617500185100348/wallpaperTasinmaz.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 875px;
  font-family: "Numans", sans-serif;
}
.form-control {
  width: 15%;
  margin-left: 1300px;
}
.card {
  border-radius: 5rem;
  width: 1500px;
  margin-left: 200px;
  margin-top:20px;
}
.pagination {
  margin-left: -920px;
  margin-top:50px;
  
}

.row {
  margin-left: 75px;
  margin-top: 30px;
}


