<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>User Surname</th>
      <th>User Mail</th>
      <th>User Number</th>
      <th>User Adress</th>
      <th>User PasswordHash</th>
      <th>User PasswordSalt</th>
      <th>Status</th>
    </tr>
  </thead>
  <tr *ngFor="let user of users">
    <td>{{ user.uID }}</td>
    <td>{{ user.uName }}</td>
    <td>{{ user.uSurname }}</td>
    <td>{{ user.uMail }}</td>
    <td>{{ user.uNumber }}</td>
    <td>{{ user.uAdress }}</td>
    <td>{{ user.uPasswordHash }}</td>
    <td>{{ user.uPasswordSalt }}</td>
    <td>{{ user.Status }}</td>
  </tr>
</table>
