<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->
<div class="mb-3">
  <label for="filterText" class="form-label">Kullanıcı Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz.">
</div>
<div *ngIf="filterText"class="alert alert-success">
  {{filterText}} aradınız.
</div>
 <table  class="table"> <!--*ngIf="dataLoaded!=false" -->
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>User Surname</th>
      <th>User Mail</th>
      <th>User Adress</th>
      <th>User PasswordHash</th>
      <th>User PasswordSalt</th>
      <th>Status</th>
    </tr>
  </thead>
  <tr *ngFor="let user of users | filterPipe:filterText">
    <td>{{ user.uID }}</td>
    <td>{{ user.uName }}</td>
    <td>{{ user.uSurname }}</td>
    <td>{{ user.uMail }}</td>
    <td>{{ user.uAdress }}</td>
    <td>{{ user.uPasswordHash }}</td>
    <td>{{ user.uPasswordSalt }}</td>
    <td>{{ user.Status }}</td>
  </tr>
</table>
